<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_mvQUMMEDEeigPdaaL1Jx_g" specification="interface:&#xA;&#xA;operation SetLedFromMask(ledMask: integer)&#xA;&#xA;in event keyPress&#xA;&#xA;internal:&#xA;" name="ledOnOff">
    <regions xmi:id="_mvaFMsEDEeigPdaaL1Jx_g" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_mvgy4MEDEeigPdaaL1Jx_g">
        <outgoingTransitions xmi:id="_xmEhAMNZEeiJe-Fewi_u5w" specification="" target="_JNo6IMNYEeiJe-Fewi_u5w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_JNo6IMNYEeiJe-Fewi_u5w" specification="" name="LeftRight" incomingTransitions="_Z9584MNZEeiJe-Fewi_u5w _xmEhAMNZEeiJe-Fewi_u5w">
        <outgoingTransitions xmi:id="_WlAucMNZEeiJe-Fewi_u5w" specification="keyPress" target="__Oq6IMNYEeiJe-Fewi_u5w"/>
        <regions xmi:id="_KfSIMMNYEeiJe-Fewi_u5w" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_yhZS0MGCEeiyLuv17iwXbQ" specification="entry/ SetLedFromMask(0x04)&#xA;" name="led0" incomingTransitions="_lJiQMMNLEeiJe-Fewi_u5w _Y75Q0MNaEeiJe-Fewi_u5w">
            <outgoingTransitions xmi:id="_ZVZIMMNVEeiJe-Fewi_u5w" specification="after 500ms" target="_FEsasMNLEeiJe-Fewi_u5w"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_FEsasMNLEeiJe-Fewi_u5w" specification="entry/ SetLedFromMask(0x08)&#xA;" name="led1" incomingTransitions="_ZVZIMMNVEeiJe-Fewi_u5w">
            <outgoingTransitions xmi:id="_XOgfwMNLEeiJe-Fewi_u5w" specification="after 500ms" target="_IN7cgMNLEeiJe-Fewi_u5w"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_IN7cgMNLEeiJe-Fewi_u5w" specification="entry/ SetLedFromMask(0x10)&#xA;" name="led2" incomingTransitions="_XOgfwMNLEeiJe-Fewi_u5w">
            <outgoingTransitions xmi:id="_gOR3IMNLEeiJe-Fewi_u5w" specification="after 500ms" target="_N3wBMcNKEeiJe-Fewi_u5w"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_N3wBMcNKEeiJe-Fewi_u5w" specification="entry/ SetLedFromMask(0x20)&#xA;" name="led3" incomingTransitions="_gOR3IMNLEeiJe-Fewi_u5w">
            <outgoingTransitions xmi:id="_lJiQMMNLEeiJe-Fewi_u5w" specification="after 500ms" target="_yhZS0MGCEeiyLuv17iwXbQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_W-TiwMNaEeiJe-Fewi_u5w">
            <outgoingTransitions xmi:id="_Y75Q0MNaEeiJe-Fewi_u5w" specification="" target="_yhZS0MGCEeiyLuv17iwXbQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="__Oq6IMNYEeiJe-Fewi_u5w" name="RightLeft" incomingTransitions="_WlAucMNZEeiJe-Fewi_u5w">
        <outgoingTransitions xmi:id="_Z9584MNZEeiJe-Fewi_u5w" specification="keyPress" target="_JNo6IMNYEeiJe-Fewi_u5w"/>
        <regions xmi:id="__Oq6I8NYEeiJe-Fewi_u5w" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="__Oq6JMNYEeiJe-Fewi_u5w" specification="entry/ SetLedFromMask(0x04)&#xA;" name="led0" incomingTransitions="_PJXcQMNZEeiJe-Fewi_u5w">
            <outgoingTransitions xmi:id="_Tv47cMNZEeiJe-Fewi_u5w" specification="after 500ms" target="__O91EMNYEeiJe-Fewi_u5w"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="__OsIRMNYEeiJe-Fewi_u5w" specification="entry/ SetLedFromMask(0x08)&#xA;" name="led1" incomingTransitions="_RgGqIMNZEeiJe-Fewi_u5w">
            <outgoingTransitions xmi:id="_PJXcQMNZEeiJe-Fewi_u5w" specification="after 500ms" target="__Oq6JMNYEeiJe-Fewi_u5w"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="__O7_5MNYEeiJe-Fewi_u5w" specification="entry/ SetLedFromMask(0x10)&#xA;" name="led2" incomingTransitions="_SQF8oMNZEeiJe-Fewi_u5w">
            <outgoingTransitions xmi:id="_RgGqIMNZEeiJe-Fewi_u5w" specification="after 500ms" target="__OsIRMNYEeiJe-Fewi_u5w"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="__O91EMNYEeiJe-Fewi_u5w" specification="entry/ SetLedFromMask(0x20)&#xA;" name="led3" incomingTransitions="_Tv47cMNZEeiJe-Fewi_u5w _PoncsMNcEeiJe-Fewi_u5w">
            <outgoingTransitions xmi:id="_SQF8oMNZEeiJe-Fewi_u5w" specification="after 500ms" target="__O7_5MNYEeiJe-Fewi_u5w"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_ZxZVcMNaEeiJe-Fewi_u5w">
            <outgoingTransitions xmi:id="_PoncsMNcEeiJe-Fewi_u5w" specification="" target="__O91EMNYEeiJe-Fewi_u5w"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_mvaFMMEDEeigPdaaL1Jx_g" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_mvQUMMEDEeigPdaaL1Jx_g" measurementUnit="Pixel">
    <children xmi:id="_mvchcMEDEeigPdaaL1Jx_g" type="Region" element="_mvaFMsEDEeigPdaaL1Jx_g">
      <children xsi:type="notation:DecorationNode" xmi:id="_mvfkwMEDEeigPdaaL1Jx_g" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mvfkwcEDEeigPdaaL1Jx_g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mvfkwsEDEeigPdaaL1Jx_g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_mvfkw8EDEeigPdaaL1Jx_g" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_mvgy4cEDEeigPdaaL1Jx_g" type="Entry" element="_mvgy4MEDEeigPdaaL1Jx_g">
          <children xmi:id="_mvhZ8MEDEeigPdaaL1Jx_g" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_mvhZ88EDEeigPdaaL1Jx_g" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_mvhZ9MEDEeigPdaaL1Jx_g"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_mvhZ9cEDEeigPdaaL1Jx_g"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_mvhZ8cEDEeigPdaaL1Jx_g" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mvhZ8sEDEeigPdaaL1Jx_g"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_mvgy4sEDEeigPdaaL1Jx_g" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_mvgy48EDEeigPdaaL1Jx_g" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mviBAMEDEeigPdaaL1Jx_g" x="187" width="15" height="15"/>
        </children>
        <children xmi:id="_JNqvUMNYEeiJe-Fewi_u5w" type="State" element="_JNo6IMNYEeiJe-Fewi_u5w">
          <children xsi:type="notation:DecorationNode" xmi:id="_JNrWYMNYEeiJe-Fewi_u5w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_JNrWYcNYEeiJe-Fewi_u5w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_JNrWYsNYEeiJe-Fewi_u5w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JNr9cMNYEeiJe-Fewi_u5w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_JNr9ccNYEeiJe-Fewi_u5w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JNr9csNYEeiJe-Fewi_u5w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JNr9c8NYEeiJe-Fewi_u5w" type="StateFigureCompartment">
            <children xmi:id="_8hdF8MNYEeiJe-Fewi_u5w" type="Region" element="_KfSIMMNYEeiJe-Fewi_u5w">
              <children xsi:type="notation:DecorationNode" xmi:id="_8hdF8cNYEeiJe-Fewi_u5w" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_8hdF8sNYEeiJe-Fewi_u5w"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_8hdF88NYEeiJe-Fewi_u5w"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_8hdF9MNYEeiJe-Fewi_u5w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_8hdF9cNYEeiJe-Fewi_u5w" type="State" element="_yhZS0MGCEeiyLuv17iwXbQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_8hdF9sNYEeiJe-Fewi_u5w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8hdF98NYEeiJe-Fewi_u5w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_8hdF-MNYEeiJe-Fewi_u5w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8hdF-cNYEeiJe-Fewi_u5w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_8hdF-sNYEeiJe-Fewi_u5w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8hdF-8NYEeiJe-Fewi_u5w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8hdF_MNYEeiJe-Fewi_u5w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8hdF_cNYEeiJe-Fewi_u5w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_8hdF_sNYEeiJe-Fewi_u5w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8hdF_8NYEeiJe-Fewi_u5w" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8hdGAMNYEeiJe-Fewi_u5w" x="-5" y="-3" width="150" height="180"/>
                </children>
                <children xmi:id="_8hdGAcNYEeiJe-Fewi_u5w" type="State" element="_FEsasMNLEeiJe-Fewi_u5w">
                  <children xsi:type="notation:DecorationNode" xmi:id="_8hdGAsNYEeiJe-Fewi_u5w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8hdGA8NYEeiJe-Fewi_u5w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_8hdGBMNYEeiJe-Fewi_u5w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8hdGBcNYEeiJe-Fewi_u5w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_8hdGBsNYEeiJe-Fewi_u5w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8hdGB8NYEeiJe-Fewi_u5w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8hdGCMNYEeiJe-Fewi_u5w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8hdGCcNYEeiJe-Fewi_u5w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_8hdGCsNYEeiJe-Fewi_u5w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8hdGC8NYEeiJe-Fewi_u5w" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8hdGDMNYEeiJe-Fewi_u5w" x="211" y="-19" width="138" height="196"/>
                </children>
                <children xmi:id="_8hdGDcNYEeiJe-Fewi_u5w" type="State" element="_IN7cgMNLEeiJe-Fewi_u5w">
                  <children xsi:type="notation:DecorationNode" xmi:id="_8hdGDsNYEeiJe-Fewi_u5w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8hdGD8NYEeiJe-Fewi_u5w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_8hdGEMNYEeiJe-Fewi_u5w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8hdGEcNYEeiJe-Fewi_u5w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_8hdGEsNYEeiJe-Fewi_u5w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8hdGE8NYEeiJe-Fewi_u5w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8hdGFMNYEeiJe-Fewi_u5w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8hdGFcNYEeiJe-Fewi_u5w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_8hdGFsNYEeiJe-Fewi_u5w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8hdGF8NYEeiJe-Fewi_u5w" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8hdGGMNYEeiJe-Fewi_u5w" x="416" y="7" width="150" height="194"/>
                </children>
                <children xmi:id="_8hdGGcNYEeiJe-Fewi_u5w" type="State" element="_N3wBMcNKEeiJe-Fewi_u5w">
                  <children xsi:type="notation:DecorationNode" xmi:id="_8hdGGsNYEeiJe-Fewi_u5w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8hdGG8NYEeiJe-Fewi_u5w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_8hdGHMNYEeiJe-Fewi_u5w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8hdGHcNYEeiJe-Fewi_u5w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_8hdGHsNYEeiJe-Fewi_u5w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8hdGH8NYEeiJe-Fewi_u5w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8hdGIMNYEeiJe-Fewi_u5w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8hdGIcNYEeiJe-Fewi_u5w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_8hdGIsNYEeiJe-Fewi_u5w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8hdGI8NYEeiJe-Fewi_u5w" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8hdGJMNYEeiJe-Fewi_u5w" x="636" y="21" width="146" height="180"/>
                </children>
                <children xmi:id="_W-V_AMNaEeiJe-Fewi_u5w" type="Entry" element="_W-TiwMNaEeiJe-Fewi_u5w">
                  <children xmi:id="_W-WmEMNaEeiJe-Fewi_u5w" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_W-WmE8NaEeiJe-Fewi_u5w" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_W-WmFMNaEeiJe-Fewi_u5w"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_W-WmFcNaEeiJe-Fewi_u5w"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_W-WmEcNaEeiJe-Fewi_u5w" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W-WmEsNaEeiJe-Fewi_u5w"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_W-V_AcNaEeiJe-Fewi_u5w" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_W-V_AsNaEeiJe-Fewi_u5w" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W-V_A8NaEeiJe-Fewi_u5w" x="30" y="-36"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8hdGJcNYEeiJe-Fewi_u5w"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_8hdGJsNYEeiJe-Fewi_u5w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8hdGJ8NYEeiJe-Fewi_u5w"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_JNqvUcNYEeiJe-Fewi_u5w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_JNqvUsNYEeiJe-Fewi_u5w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JNskgMNYEeiJe-Fewi_u5w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JNqvU8NYEeiJe-Fewi_u5w" x="261" y="46" width="828" height="412"/>
        </children>
        <children xmi:id="__OqTEMNYEeiJe-Fewi_u5w" type="State" element="__Oq6IMNYEeiJe-Fewi_u5w">
          <children xsi:type="notation:DecorationNode" xmi:id="__OqTEcNYEeiJe-Fewi_u5w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="__OqTEsNYEeiJe-Fewi_u5w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="__OqTE8NYEeiJe-Fewi_u5w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__OqTFMNYEeiJe-Fewi_u5w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="__OqTFcNYEeiJe-Fewi_u5w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OqTFsNYEeiJe-Fewi_u5w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__OqTF8NYEeiJe-Fewi_u5w" type="StateFigureCompartment">
            <children xmi:id="__OqTGMNYEeiJe-Fewi_u5w" type="Region" element="__Oq6I8NYEeiJe-Fewi_u5w">
              <children xsi:type="notation:DecorationNode" xmi:id="__OqTGcNYEeiJe-Fewi_u5w" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="__OqTGsNYEeiJe-Fewi_u5w"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="__OqTG8NYEeiJe-Fewi_u5w"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="__OqTHMNYEeiJe-Fewi_u5w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="__OqTHcNYEeiJe-Fewi_u5w" type="State" element="__Oq6JMNYEeiJe-Fewi_u5w">
                  <children xsi:type="notation:DecorationNode" xmi:id="__OqTHsNYEeiJe-Fewi_u5w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="__OqTH8NYEeiJe-Fewi_u5w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="__OqTIMNYEeiJe-Fewi_u5w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__OqTIcNYEeiJe-Fewi_u5w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="__OqTIsNYEeiJe-Fewi_u5w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OqTI8NYEeiJe-Fewi_u5w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__OqTJMNYEeiJe-Fewi_u5w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="__OqTJcNYEeiJe-Fewi_u5w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="__OqTJsNYEeiJe-Fewi_u5w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="__OqTJ8NYEeiJe-Fewi_u5w" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OqTKMNYEeiJe-Fewi_u5w" x="-5" y="1" width="150" height="180"/>
                </children>
                <children xmi:id="__OqTKcNYEeiJe-Fewi_u5w" type="State" element="__OsIRMNYEeiJe-Fewi_u5w">
                  <children xsi:type="notation:DecorationNode" xmi:id="__OqTKsNYEeiJe-Fewi_u5w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="__OqTK8NYEeiJe-Fewi_u5w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="__OqTLMNYEeiJe-Fewi_u5w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__OqTLcNYEeiJe-Fewi_u5w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="__OqTLsNYEeiJe-Fewi_u5w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OqTL8NYEeiJe-Fewi_u5w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__OqTMMNYEeiJe-Fewi_u5w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="__OqTMcNYEeiJe-Fewi_u5w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="__OqTMsNYEeiJe-Fewi_u5w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="__OqTM8NYEeiJe-Fewi_u5w" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OqTNMNYEeiJe-Fewi_u5w" x="208" y="7" width="138" height="196"/>
                </children>
                <children xmi:id="__OqTNcNYEeiJe-Fewi_u5w" type="State" element="__O7_5MNYEeiJe-Fewi_u5w">
                  <children xsi:type="notation:DecorationNode" xmi:id="__OqTNsNYEeiJe-Fewi_u5w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="__OqTN8NYEeiJe-Fewi_u5w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="__OqTOMNYEeiJe-Fewi_u5w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__OqTOcNYEeiJe-Fewi_u5w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="__OqTOsNYEeiJe-Fewi_u5w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OqTO8NYEeiJe-Fewi_u5w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__OqTPMNYEeiJe-Fewi_u5w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="__OqTPcNYEeiJe-Fewi_u5w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="__OqTPsNYEeiJe-Fewi_u5w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="__OqTP8NYEeiJe-Fewi_u5w" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OqTQMNYEeiJe-Fewi_u5w" x="407" y="-23" width="150" height="194"/>
                </children>
                <children xmi:id="__OqTQcNYEeiJe-Fewi_u5w" type="State" element="__O91EMNYEeiJe-Fewi_u5w">
                  <children xsi:type="notation:DecorationNode" xmi:id="__OqTQsNYEeiJe-Fewi_u5w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="__OqTQ8NYEeiJe-Fewi_u5w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="__OqTRMNYEeiJe-Fewi_u5w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__OqTRcNYEeiJe-Fewi_u5w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="__OqTRsNYEeiJe-Fewi_u5w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OqTR8NYEeiJe-Fewi_u5w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__OqTSMNYEeiJe-Fewi_u5w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="__OqTScNYEeiJe-Fewi_u5w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="__OqTSsNYEeiJe-Fewi_u5w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="__OqTS8NYEeiJe-Fewi_u5w" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OqTTMNYEeiJe-Fewi_u5w" x="633" y="-8" width="146" height="180"/>
                </children>
                <children xmi:id="_ZxZ8gMNaEeiJe-Fewi_u5w" type="Entry" element="_ZxZVcMNaEeiJe-Fewi_u5w">
                  <children xmi:id="_ZxZ8hMNaEeiJe-Fewi_u5w" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_ZxZ8h8NaEeiJe-Fewi_u5w" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_ZxZ8iMNaEeiJe-Fewi_u5w"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_ZxZ8icNaEeiJe-Fewi_u5w"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_ZxZ8hcNaEeiJe-Fewi_u5w" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZxZ8hsNaEeiJe-Fewi_u5w"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_ZxZ8gcNaEeiJe-Fewi_u5w" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_ZxZ8gsNaEeiJe-Fewi_u5w" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZxZ8g8NaEeiJe-Fewi_u5w" x="22" y="-48"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OqTTcNYEeiJe-Fewi_u5w"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="__OqTTsNYEeiJe-Fewi_u5w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OqTT8NYEeiJe-Fewi_u5w"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="__OqTUMNYEeiJe-Fewi_u5w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="__OqTUcNYEeiJe-Fewi_u5w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="__OqTUsNYEeiJe-Fewi_u5w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OqTU8NYEeiJe-Fewi_u5w" x="269" y="508" width="832" height="416"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mvfkxMEDEeigPdaaL1Jx_g"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_mvchccEDEeigPdaaL1Jx_g" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mvgL0MEDEeigPdaaL1Jx_g" x="272" y="104" width="1568" height="1044"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_mvngkMEDEeigPdaaL1Jx_g" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_mvoHoMEDEeigPdaaL1Jx_g" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mvoHocEDEeigPdaaL1Jx_g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mvoHosEDEeigPdaaL1Jx_g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_mvoHo8EDEeigPdaaL1Jx_g" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mvoHpMEDEeigPdaaL1Jx_g"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mvousMEDEeigPdaaL1Jx_g" x="10" y="10" width="201" height="388"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_mvaFMcEDEeigPdaaL1Jx_g"/>
    <edges xmi:id="_ZVYhIMNVEeiJe-Fewi_u5w" type="Transition" element="_ZVZIMMNVEeiJe-Fewi_u5w" source="_8hdF9cNYEeiJe-Fewi_u5w" target="_8hdGAcNYEeiJe-Fewi_u5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZVYhJsNVEeiJe-Fewi_u5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZVYhKMNVEeiJe-Fewi_u5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZVYhJ8NVEeiJe-Fewi_u5w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZVYhJcNVEeiJe-Fewi_u5w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZVYhJMNVEeiJe-Fewi_u5w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZVYhI8NVEeiJe-Fewi_u5w" points="[0, 0, -90, -106]$[91, 137, 1, 31]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZVYhIsNVEeiJe-Fewi_u5w" id="(1.0,0.2222222222222222)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZVYhIcNVEeiJe-Fewi_u5w" id="(0.14492753623188406,0.8176470588235294)"/>
    </edges>
    <edges xmi:id="_XOht4MNLEeiJe-Fewi_u5w" type="Transition" element="_XOgfwMNLEeiJe-Fewi_u5w" source="_8hdGAcNYEeiJe-Fewi_u5w" target="_8hdGDcNYEeiJe-Fewi_u5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_XOiU88NLEeiJe-Fewi_u5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XOiU9MNLEeiJe-Fewi_u5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XOiU9cNLEeiJe-Fewi_u5w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XOiU8MNLEeiJe-Fewi_u5w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XOiU8sNLEeiJe-Fewi_u5w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XOiU8cNLEeiJe-Fewi_u5w" points="[0, 0, -65, -16]$[66, -40, 1, -56]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XOkKIMNLEeiJe-Fewi_u5w" id="(1.0,0.3235294117647059)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XOkKIcNLEeiJe-Fewi_u5w" id="(0.1,0.39690721649484534)"/>
    </edges>
    <edges xmi:id="_gOUTYMNLEeiJe-Fewi_u5w" type="Transition" element="_gOR3IMNLEeiJe-Fewi_u5w" source="_8hdGDcNYEeiJe-Fewi_u5w" target="_8hdGGcNYEeiJe-Fewi_u5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_gOU6ccNLEeiJe-Fewi_u5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gOU6csNLEeiJe-Fewi_u5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gOU6c8NLEeiJe-Fewi_u5w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gOUTYcNLEeiJe-Fewi_u5w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gOU6cMNLEeiJe-Fewi_u5w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gOUTYsNLEeiJe-Fewi_u5w" points="[0, 0, -63, -105]$[64, 109, 1, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gOXWsMNLEeiJe-Fewi_u5w" id="(1.0,0.23711340206185566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gOXWscNLEeiJe-Fewi_u5w" id="(0.0684931506849315,0.9722222222222222)"/>
    </edges>
    <edges xmi:id="_lJkFYMNLEeiJe-Fewi_u5w" type="Transition" element="_lJiQMMNLEeiJe-Fewi_u5w" source="_8hdGGcNYEeiJe-Fewi_u5w" target="_8hdF9cNYEeiJe-Fewi_u5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_lJkFZMNLEeiJe-Fewi_u5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lJkFZcNLEeiJe-Fewi_u5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lJkFZsNLEeiJe-Fewi_u5w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lJkFYcNLEeiJe-Fewi_u5w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lJkFY8NLEeiJe-Fewi_u5w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lJkFYsNLEeiJe-Fewi_u5w" points="[-68, 132, 654, 31]$[-68, 201, 654, 100]$[-707, 201, 15, 100]$[-707, 108, 15, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lJl6kMNLEeiJe-Fewi_u5w" id="(1.0,0.25)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lJmhoMNLEeiJe-Fewi_u5w" id="(0.42,0.9611111111111111)"/>
    </edges>
    <edges xmi:id="_PJZRcMNZEeiJe-Fewi_u5w" type="Transition" element="_PJXcQMNZEeiJe-Fewi_u5w" source="__OqTKcNYEeiJe-Fewi_u5w" target="__OqTHcNYEeiJe-Fewi_u5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_PJZ4gcNZEeiJe-Fewi_u5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PJZ4gsNZEeiJe-Fewi_u5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PJZ4g8NZEeiJe-Fewi_u5w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PJZRccNZEeiJe-Fewi_u5w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PJZ4gMNZEeiJe-Fewi_u5w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PJZRcsNZEeiJe-Fewi_u5w" points="[-50, 6, 108, -3]$[-103, 16, 55, 7]"/>
    </edges>
    <edges xmi:id="_RgK7kMNZEeiJe-Fewi_u5w" type="Transition" element="_RgGqIMNZEeiJe-Fewi_u5w" source="__OqTNcNYEeiJe-Fewi_u5w" target="__OqTKcNYEeiJe-Fewi_u5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_RgLiocNZEeiJe-Fewi_u5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RgLiosNZEeiJe-Fewi_u5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RgLio8NZEeiJe-Fewi_u5w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RgK7kcNZEeiJe-Fewi_u5w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RgLioMNZEeiJe-Fewi_u5w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RgK7ksNZEeiJe-Fewi_u5w" points="[-21, 0, 61, 3]$[-78, 68, 4, 71]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RgOl8MNZEeiJe-Fewi_u5w" id="(0.19333333333333333,0.3917525773195876)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RgOl8cNZEeiJe-Fewi_u5w" id="(0.927536231884058,0.5051020408163265)"/>
    </edges>
    <edges xmi:id="_SQHKwMNZEeiJe-Fewi_u5w" type="Transition" element="_SQF8oMNZEeiJe-Fewi_u5w" source="__OqTQcNYEeiJe-Fewi_u5w" target="__OqTNcNYEeiJe-Fewi_u5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_SQHKxMNZEeiJe-Fewi_u5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SQHKxcNZEeiJe-Fewi_u5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SQHKxsNZEeiJe-Fewi_u5w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SQHKwcNZEeiJe-Fewi_u5w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SQHKw8NZEeiJe-Fewi_u5w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SQHKwsNZEeiJe-Fewi_u5w" points="[-53, -5, 71, 3]$[-120, -76, 4, -68]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SQIY4MNZEeiJe-Fewi_u5w" id="(0.8666666666666667,0.4793814432989691)"/>
    </edges>
    <edges xmi:id="_Tv6woMNZEeiJe-Fewi_u5w" type="Transition" element="_Tv47cMNZEeiJe-Fewi_u5w" source="__OqTHcNYEeiJe-Fewi_u5w" target="__OqTQcNYEeiJe-Fewi_u5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_Tv7XsMNZEeiJe-Fewi_u5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Tv7XscNZEeiJe-Fewi_u5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Tv7XssNZEeiJe-Fewi_u5w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Tv6wocNZEeiJe-Fewi_u5w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Tv6wo8NZEeiJe-Fewi_u5w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Tv6wosNZEeiJe-Fewi_u5w" points="[3, 88, -636, 68]$[3, 168, -636, 148]$[642, 168, 3, 148]$[642, 108, 3, 88]"/>
    </edges>
    <edges xmi:id="_WlB8kMNZEeiJe-Fewi_u5w" type="Transition" element="_WlAucMNZEeiJe-Fewi_u5w" source="_JNqvUMNYEeiJe-Fewi_u5w" target="__OqTEMNYEeiJe-Fewi_u5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_WlB8lMNZEeiJe-Fewi_u5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WlB8lcNZEeiJe-Fewi_u5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WlB8lsNZEeiJe-Fewi_u5w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WlB8kcNZEeiJe-Fewi_u5w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WlB8k8NZEeiJe-Fewi_u5w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WlB8ksNZEeiJe-Fewi_u5w" points="[-1, 1, 2, -63]$[-1, 52, 2, -12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WlDKsMNZEeiJe-Fewi_u5w" id="(0.18038740920096852,0.9975609756097561)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WlDKscNZEeiJe-Fewi_u5w" id="(0.163855421686747,0.03855421686746988)"/>
    </edges>
    <edges xmi:id="_Z97yEMNZEeiJe-Fewi_u5w" type="Transition" element="_Z9584MNZEeiJe-Fewi_u5w" source="__OqTEMNYEeiJe-Fewi_u5w" target="_JNqvUMNYEeiJe-Fewi_u5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_Z98ZIcNZEeiJe-Fewi_u5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Z98ZIsNZEeiJe-Fewi_u5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Z98ZI8NZEeiJe-Fewi_u5w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Z97yEcNZEeiJe-Fewi_u5w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Z98ZIMNZEeiJe-Fewi_u5w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Z97yEsNZEeiJe-Fewi_u5w" points="[1, -2, -10, 57]$[15, -53, 4, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Z9-OUMNZEeiJe-Fewi_u5w" id="(0.7698795180722892,0.007228915662650603)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Z9-1YMNZEeiJe-Fewi_u5w" id="(0.8026634382566586,0.9804878048780488)"/>
    </edges>
    <edges xmi:id="_xmFvIMNZEeiJe-Fewi_u5w" type="Transition" element="_xmEhAMNZEeiJe-Fewi_u5w" source="_mvgy4cEDEeigPdaaL1Jx_g" target="_JNqvUMNYEeiJe-Fewi_u5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_xmFvJMNZEeiJe-Fewi_u5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xmFvJcNZEeiJe-Fewi_u5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xmFvJsNZEeiJe-Fewi_u5w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xmFvIcNZEeiJe-Fewi_u5w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xmFvI8NZEeiJe-Fewi_u5w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xmFvIsNZEeiJe-Fewi_u5w" points="[6, 0, -218, -26]$[226, 21, 2, -5]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xmG9QMNZEeiJe-Fewi_u5w" id="(0.28087167070217917,0.01707317073170732)"/>
    </edges>
    <edges xmi:id="_Y7534MNaEeiJe-Fewi_u5w" type="Transition" element="_Y75Q0MNaEeiJe-Fewi_u5w" source="_W-V_AMNaEeiJe-Fewi_u5w" target="_8hdF9cNYEeiJe-Fewi_u5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_Y76e8cNaEeiJe-Fewi_u5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Y76e8sNaEeiJe-Fewi_u5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Y76e88NaEeiJe-Fewi_u5w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Y7534cNaEeiJe-Fewi_u5w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Y76e8MNaEeiJe-Fewi_u5w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Y7534sNaEeiJe-Fewi_u5w" points="[5, 3, -35, -24]$[43, 20, 3, -7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y77tEMNaEeiJe-Fewi_u5w" id="(0.6533333333333333,0.05555555555555555)"/>
    </edges>
    <edges xmi:id="_Pooq0MNcEeiJe-Fewi_u5w" type="Transition" element="_PoncsMNcEeiJe-Fewi_u5w" source="_ZxZ8gMNaEeiJe-Fewi_u5w" target="__OqTQcNYEeiJe-Fewi_u5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_Pooq1MNcEeiJe-Fewi_u5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Pooq1cNcEeiJe-Fewi_u5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Pooq1sNcEeiJe-Fewi_u5w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Pooq0cNcEeiJe-Fewi_u5w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Pooq08NcEeiJe-Fewi_u5w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Pooq0sNcEeiJe-Fewi_u5w" points="[6, 4, -688, -41]$[678, 4, -16, -41]$[678, 33, -16, -12]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PorHEMNcEeiJe-Fewi_u5w" id="(0.636986301369863,0.07222222222222222)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
