<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_EyuIgNhVEeiBn6l_DKXV_A" specification="interface:&#xA;&#xA;operation  updateOutput(cuenta:integer)&#xA;&#xA;&#xA;&#xA;&#xA;in event keyPress1&#xA;in event keyPress2&#xA;in event keyPress4&#xA;&#xA;internal:&#xA;var cnt: integer&#xA;var locked: integer&#xA;&#xA;&#xA;&#xA;" name="contador">
    <regions xmi:id="_Ey-AIthVEeiBn6l_DKXV_A" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_EzBqgdhVEeiBn6l_DKXV_A">
        <outgoingTransitions xmi:id="_EzEGxthVEeiBn6l_DKXV_A" target="_EzC4oNhVEeiBn6l_DKXV_A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_EzC4oNhVEeiBn6l_DKXV_A" specification="entry/&#xA;cnt = 0;&#xA;locked = 1;&#xA;updateOutput(cnt)" name="Init" incomingTransitions="_EzEGxthVEeiBn6l_DKXV_A">
        <outgoingTransitions xmi:id="_fRXNsNhZEeiBn6l_DKXV_A" specification="always" target="_RNuT3NhZEeiBn6l_DKXV_A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_RNuT3NhZEeiBn6l_DKXV_A" specification="" name="wait" incomingTransitions="_fRXNsNhZEeiBn6l_DKXV_A _Bw0rgNhaEeiBn6l_DKXV_A _SbtfANhbEeiBn6l_DKXV_A _Q1am4NhsEeiBn6l_DKXV_A">
        <outgoingTransitions xmi:id="__yCqoNhZEeiBn6l_DKXV_A" specification="keyPress1" target="_v4ew8NhZEeiBn6l_DKXV_A"/>
        <outgoingTransitions xmi:id="_QZ1t4NhbEeiBn6l_DKXV_A" specification="[keyPress4 &amp;&amp; (locked ==0)]" target="_KwlmYNhbEeiBn6l_DKXV_A"/>
        <outgoingTransitions xmi:id="_OnKmoNhsEeiBn6l_DKXV_A" specification="keyPress2" target="_I8Y1LNhsEeiBn6l_DKXV_A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_v4ew8NhZEeiBn6l_DKXV_A" specification="entry/&#xA;cnt = cnt+(1-locked);&#xA;&#xA;updateOutput(cnt)" name="Increment" incomingTransitions="__yCqoNhZEeiBn6l_DKXV_A">
        <outgoingTransitions xmi:id="_Bw0rgNhaEeiBn6l_DKXV_A" specification="always" target="_RNuT3NhZEeiBn6l_DKXV_A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_KwlmYNhbEeiBn6l_DKXV_A" specification="entry/&#xA;cnt = 0;&#xA;updateOutput(cnt)&#xA;" name="rstCnt" incomingTransitions="_QZ1t4NhbEeiBn6l_DKXV_A">
        <outgoingTransitions xmi:id="_SbtfANhbEeiBn6l_DKXV_A" specification="always" target="_RNuT3NhZEeiBn6l_DKXV_A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_I8Y1LNhsEeiBn6l_DKXV_A" specification="entry/&#xA;locked = (locked+1)%2" name="lockToggle" incomingTransitions="_OnKmoNhsEeiBn6l_DKXV_A">
        <outgoingTransitions xmi:id="_Q1am4NhsEeiBn6l_DKXV_A" specification="always" target="_RNuT3NhZEeiBn6l_DKXV_A"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_Ey-AINhVEeiBn6l_DKXV_A" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_EyuIgNhVEeiBn6l_DKXV_A" measurementUnit="Pixel">
    <children xmi:id="_Ey_1UNhVEeiBn6l_DKXV_A" type="Region" element="_Ey-AIthVEeiBn6l_DKXV_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_EzBDcNhVEeiBn6l_DKXV_A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EzBDcdhVEeiBn6l_DKXV_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EzBDcthVEeiBn6l_DKXV_A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_EzBDc9hVEeiBn6l_DKXV_A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_EzBqgthVEeiBn6l_DKXV_A" type="Entry" element="_EzBqgdhVEeiBn6l_DKXV_A">
          <children xmi:id="_EzCRkNhVEeiBn6l_DKXV_A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_EzCRk9hVEeiBn6l_DKXV_A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_EzCRlNhVEeiBn6l_DKXV_A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_EzCRldhVEeiBn6l_DKXV_A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EzCRkdhVEeiBn6l_DKXV_A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EzCRkthVEeiBn6l_DKXV_A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EzBqg9hVEeiBn6l_DKXV_A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_EzBqhNhVEeiBn6l_DKXV_A" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EzCRlthVEeiBn6l_DKXV_A" x="-3" y="60" width="15" height="15"/>
        </children>
        <children xmi:id="_EzDfsNhVEeiBn6l_DKXV_A" type="State" element="_EzC4oNhVEeiBn6l_DKXV_A">
          <children xsi:type="notation:DecorationNode" xmi:id="_EzDftNhVEeiBn6l_DKXV_A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EzDftdhVEeiBn6l_DKXV_A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EzDftthVEeiBn6l_DKXV_A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EzEGwNhVEeiBn6l_DKXV_A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EzEGwdhVEeiBn6l_DKXV_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EzEGwthVEeiBn6l_DKXV_A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EzEGw9hVEeiBn6l_DKXV_A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EzDfsdhVEeiBn6l_DKXV_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EzDfsthVEeiBn6l_DKXV_A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EzEGxNhVEeiBn6l_DKXV_A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EzEGxdhVEeiBn6l_DKXV_A" x="45" y="124" width="141" height="131"/>
        </children>
        <children xmi:id="_RNuT0NhZEeiBn6l_DKXV_A" type="State" element="_RNuT3NhZEeiBn6l_DKXV_A">
          <children xsi:type="notation:DecorationNode" xmi:id="_RNuT0dhZEeiBn6l_DKXV_A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_RNuT0thZEeiBn6l_DKXV_A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_RNuT09hZEeiBn6l_DKXV_A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RNuT1NhZEeiBn6l_DKXV_A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_RNuT1dhZEeiBn6l_DKXV_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RNuT1thZEeiBn6l_DKXV_A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RNuT19hZEeiBn6l_DKXV_A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_RNuT2NhZEeiBn6l_DKXV_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_RNuT2dhZEeiBn6l_DKXV_A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_RNuT2thZEeiBn6l_DKXV_A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RNuT29hZEeiBn6l_DKXV_A" x="274" y="51" width="151" height="102"/>
        </children>
        <children xmi:id="_v4eJ4NhZEeiBn6l_DKXV_A" type="State" element="_v4ew8NhZEeiBn6l_DKXV_A">
          <children xsi:type="notation:DecorationNode" xmi:id="_v4eJ4dhZEeiBn6l_DKXV_A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_v4eJ4thZEeiBn6l_DKXV_A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_v4eJ49hZEeiBn6l_DKXV_A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_v4eJ5NhZEeiBn6l_DKXV_A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_v4eJ5dhZEeiBn6l_DKXV_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_v4eJ5thZEeiBn6l_DKXV_A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_v4eJ59hZEeiBn6l_DKXV_A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_v4eJ6NhZEeiBn6l_DKXV_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_v4eJ6dhZEeiBn6l_DKXV_A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_v4eJ6thZEeiBn6l_DKXV_A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_v4eJ69hZEeiBn6l_DKXV_A" x="289" y="230" width="158" height="130"/>
        </children>
        <children xmi:id="_Kwk_UNhbEeiBn6l_DKXV_A" type="State" element="_KwlmYNhbEeiBn6l_DKXV_A">
          <children xsi:type="notation:DecorationNode" xmi:id="_Kwk_UdhbEeiBn6l_DKXV_A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Kwk_UthbEeiBn6l_DKXV_A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Kwk_U9hbEeiBn6l_DKXV_A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Kwk_VNhbEeiBn6l_DKXV_A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Kwk_VdhbEeiBn6l_DKXV_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Kwk_VthbEeiBn6l_DKXV_A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Kwk_V9hbEeiBn6l_DKXV_A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Kwk_WNhbEeiBn6l_DKXV_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Kwk_WdhbEeiBn6l_DKXV_A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Kwk_WthbEeiBn6l_DKXV_A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Kwk_W9hbEeiBn6l_DKXV_A" x="655" y="15" width="141" height="115"/>
        </children>
        <children xmi:id="_I8Y1INhsEeiBn6l_DKXV_A" type="State" element="_I8Y1LNhsEeiBn6l_DKXV_A">
          <children xsi:type="notation:DecorationNode" xmi:id="_I8Y1IdhsEeiBn6l_DKXV_A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_I8Y1IthsEeiBn6l_DKXV_A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_I8Y1I9hsEeiBn6l_DKXV_A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_I8Y1JNhsEeiBn6l_DKXV_A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_I8Y1JdhsEeiBn6l_DKXV_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_I8Y1JthsEeiBn6l_DKXV_A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_I8Y1J9hsEeiBn6l_DKXV_A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_I8Y1KNhsEeiBn6l_DKXV_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_I8Y1KdhsEeiBn6l_DKXV_A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_I8Y1KthsEeiBn6l_DKXV_A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_I8Y1K9hsEeiBn6l_DKXV_A" x="534" y="152"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EzBDdNhVEeiBn6l_DKXV_A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_Ey_1UdhVEeiBn6l_DKXV_A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EzBqgNhVEeiBn6l_DKXV_A" x="220" y="8" width="948" height="660"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_EzF78NhVEeiBn6l_DKXV_A" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_EzF78thVEeiBn6l_DKXV_A" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EzF789hVEeiBn6l_DKXV_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EzF79NhVEeiBn6l_DKXV_A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_EzF79dhVEeiBn6l_DKXV_A" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EzF79thVEeiBn6l_DKXV_A"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EzGjANhVEeiBn6l_DKXV_A" x="-30" y="-5" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_Ey-AIdhVEeiBn6l_DKXV_A"/>
    <edges xmi:id="_EzFU4NhVEeiBn6l_DKXV_A" type="Transition" element="_EzEGxthVEeiBn6l_DKXV_A" source="_EzBqgthVEeiBn6l_DKXV_A" target="_EzDfsNhVEeiBn6l_DKXV_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_EzFU5NhVEeiBn6l_DKXV_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EzFU5dhVEeiBn6l_DKXV_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EzFU5thVEeiBn6l_DKXV_A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EzFU4dhVEeiBn6l_DKXV_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EzFU49hVEeiBn6l_DKXV_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EzFU4thVEeiBn6l_DKXV_A" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_fRZC4NhZEeiBn6l_DKXV_A" type="Transition" element="_fRXNsNhZEeiBn6l_DKXV_A" source="_EzDfsNhVEeiBn6l_DKXV_A" target="_RNuT0NhZEeiBn6l_DKXV_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_fRZp8dhZEeiBn6l_DKXV_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fRZp8thZEeiBn6l_DKXV_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fRZp89hZEeiBn6l_DKXV_A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fRZC4dhZEeiBn6l_DKXV_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fRZp8NhZEeiBn6l_DKXV_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fRZC4thZEeiBn6l_DKXV_A" points="[6, 87, -4, -80]$[12, 161, 2, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fRcGMNhZEeiBn6l_DKXV_A" id="(0.3103448275862069,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fRcGMdhZEeiBn6l_DKXV_A" id="(0.35537190082644626,0.1320754716981132)"/>
    </edges>
    <edges xmi:id="__yD4wNhZEeiBn6l_DKXV_A" type="Transition" element="__yCqoNhZEeiBn6l_DKXV_A" source="_RNuT0NhZEeiBn6l_DKXV_A" target="_v4eJ4NhZEeiBn6l_DKXV_A">
      <children xsi:type="notation:DecorationNode" xmi:id="__yEf0dhZEeiBn6l_DKXV_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__yEf0thZEeiBn6l_DKXV_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__yEf09hZEeiBn6l_DKXV_A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__yD4wdhZEeiBn6l_DKXV_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__yEf0NhZEeiBn6l_DKXV_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__yD4wthZEeiBn6l_DKXV_A" points="[20, 46, 0, -53]$[20, 99, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__yGVANhZEeiBn6l_DKXV_A" id="(0.14049586776859505,0.5283018867924528)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__yGVAdhZEeiBn6l_DKXV_A" id="(0.2231404958677686,0.0)"/>
    </edges>
    <edges xmi:id="_Bw15oNhaEeiBn6l_DKXV_A" type="Transition" element="_Bw0rgNhaEeiBn6l_DKXV_A" source="_v4eJ4NhZEeiBn6l_DKXV_A" target="_RNuT0NhZEeiBn6l_DKXV_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Bw2gsdhaEeiBn6l_DKXV_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Bw2gsthaEeiBn6l_DKXV_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Bw2gs9haEeiBn6l_DKXV_A" x="2" y="29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Bw15odhaEeiBn6l_DKXV_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Bw2gsNhaEeiBn6l_DKXV_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Bw15othaEeiBn6l_DKXV_A" points="[47, 0, 32, 102]$[47, -53, 32, 49]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Bw4V4NhaEeiBn6l_DKXV_A" id="(0.371900826446281,0.0)"/>
    </edges>
    <edges xmi:id="_QZ3jENhbEeiBn6l_DKXV_A" type="Transition" element="_QZ1t4NhbEeiBn6l_DKXV_A" source="_RNuT0NhZEeiBn6l_DKXV_A" target="_Kwk_UNhbEeiBn6l_DKXV_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_QZ3jFNhbEeiBn6l_DKXV_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QZ3jFdhbEeiBn6l_DKXV_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QZ3jFthbEeiBn6l_DKXV_A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QZ3jEdhbEeiBn6l_DKXV_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QZ3jE9hbEeiBn6l_DKXV_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QZ3jEthbEeiBn6l_DKXV_A" points="[0, 0, -143, 24]$[144, 7, 1, 31]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QZ5YQNhbEeiBn6l_DKXV_A" id="(0.304635761589404,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QZ5YQdhbEeiBn6l_DKXV_A" id="(0.024793388429752067,0.6521739130434783)"/>
    </edges>
    <edges xmi:id="_SbutINhbEeiBn6l_DKXV_A" type="Transition" element="_SbtfANhbEeiBn6l_DKXV_A" source="_Kwk_UNhbEeiBn6l_DKXV_A" target="_RNuT0NhZEeiBn6l_DKXV_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_SbvUMNhbEeiBn6l_DKXV_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SbvUMdhbEeiBn6l_DKXV_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SbvUMthbEeiBn6l_DKXV_A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SbutIdhbEeiBn6l_DKXV_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SbutI9hbEeiBn6l_DKXV_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SbutIthbEeiBn6l_DKXV_A" points="[-44, 17, 176, -69]$[-219, 80, 1, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SbwiUNhbEeiBn6l_DKXV_A" id="(0.38016528925619836,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SbwiUdhbEeiBn6l_DKXV_A" id="(0.06622516556291391,0.06862745098039216)"/>
    </edges>
    <edges xmi:id="_OnL0wNhsEeiBn6l_DKXV_A" type="Transition" element="_OnKmoNhsEeiBn6l_DKXV_A" source="_RNuT0NhZEeiBn6l_DKXV_A" target="_I8Y1INhsEeiBn6l_DKXV_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_OnMb0dhsEeiBn6l_DKXV_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_OnMb0thsEeiBn6l_DKXV_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_OnMb09hsEeiBn6l_DKXV_A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_OnL0wdhsEeiBn6l_DKXV_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_OnMb0NhsEeiBn6l_DKXV_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_OnL0wthsEeiBn6l_DKXV_A" points="[6, 30, -151, -5]$[157, 35, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OnNp8NhsEeiBn6l_DKXV_A" id="(0.9205298013245033,0.7549019607843137)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OnNp8dhsEeiBn6l_DKXV_A" id="(0.0,0.0)"/>
    </edges>
    <edges xmi:id="_Q1b1ANhsEeiBn6l_DKXV_A" type="Transition" element="_Q1am4NhsEeiBn6l_DKXV_A" source="_I8Y1INhsEeiBn6l_DKXV_A" target="_RNuT0NhZEeiBn6l_DKXV_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Q1b1BNhsEeiBn6l_DKXV_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1b1BdhsEeiBn6l_DKXV_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Q1b1BthsEeiBn6l_DKXV_A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Q1b1AdhsEeiBn6l_DKXV_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Q1b1A9hsEeiBn6l_DKXV_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Q1b1AthsEeiBn6l_DKXV_A" points="[0, 0, 154, 57]$[-147, -50, 7, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Q1dDINhsEeiBn6l_DKXV_A" id="(0.0,0.6290322580645161)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Q1dDIdhsEeiBn6l_DKXV_A" id="(0.9403973509933775,0.9411764705882353)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
