<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_mvQUMMEDEeigPdaaL1Jx_g" specification="interface:&#xA;&#xA;operation ledOn(led: integer)&#xA;operation ledOff(led:integer)&#xA;operation getKeyPressed(): integer&#xA;operation aproveOperation(price:integer,credit:integer):integer&#xA;operation stockCheck(selected:integer,stockA:integer,stockB:integer):integer&#xA;operation setLed(sel:integer):integer&#xA;&#xA;in event keyPress1&#xA;in event keyPress2&#xA;in event keyPress3&#xA;in event keyPress4&#xA;in event keyPress&#xA;&#xA;internal:&#xA;var credito: integer&#xA;var cantA: integer&#xA;var cantB: integer&#xA;var precio: integer&#xA;var selected: integer&#xA;var aprobado: integer&#xA;var stockOk: integer&#xA;var led: integer&#xA;var aux: integer" name="ledOnOff">
    <regions xmi:id="_mvaFMsEDEeigPdaaL1Jx_g" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_mvgy4MEDEeigPdaaL1Jx_g">
        <outgoingTransitions xmi:id="_h83UEMGDEeiyLuv17iwXbQ" specification="" target="_yhZS0MGCEeiyLuv17iwXbQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_yhZS0MGCEeiyLuv17iwXbQ" specification="entry/ &#xA;ledOff(3);&#xA;credito = 0;&#xA;cantA = 10;&#xA;cantB = 3;&#xA;precio = 6;&#xA;selected = 0;&#xA;aprobado = 0;&#xA;stockOk = 0;&#xA;led = 0" name="init" incomingTransitions="_h83UEMGDEeiyLuv17iwXbQ">
        <outgoingTransitions xmi:id="_qYZswNjLEeiU347bG7Px0A" specification="always" target="_aDxAoNjLEeiU347bG7Px0A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_aDxAoNjLEeiU347bG7Px0A" name="wait" incomingTransitions="_qYZswNjLEeiU347bG7Px0A _cDaSQNjNEeiU347bG7Px0A _ex-QoNjVEeiU347bG7Px0A">
        <outgoingTransitions xmi:id="_ZEG1cN3kEei9m8wSnGJ4xA" specification="keyPress" target="_N3B5AN3kEei9m8wSnGJ4xA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_P8m4gNjNEeiU347bG7Px0A" specification="entry/&#xA;credito+=2" name="ingresoMonedas" incomingTransitions="_7PjgMN3mEei9m8wSnGJ4xA">
        <outgoingTransitions xmi:id="_cDaSQNjNEeiU347bG7Px0A" specification="[credito>0]" target="_aDxAoNjLEeiU347bG7Px0A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_oB42cNjNEeiU347bG7Px0A" specification="entry /&#xA;aprobado = aproveOperation(precio,credito)&#xA;" name="priceCheck" incomingTransitions="_eT2QwN3kEei9m8wSnGJ4xA">
        <outgoingTransitions xmi:id="_kKx6oNjQEeiU347bG7Px0A" specification="[aprobado == 1]" target="_Zza6sNjPEeiU347bG7Px0A"/>
        <outgoingTransitions xmi:id="_3P-QkNjVEeiU347bG7Px0A" specification="[aprobado == 0]" target="_PojP4NjUEeiU347bG7Px0A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Zza6sNjPEeiU347bG7Px0A" specification="entry/&#xA;stockOk =  stockCheck(selected,cantA,cantB);&#xA;led = setLed(selected)&#xA;" name="stockCheck" incomingTransitions="_kKx6oNjQEeiU347bG7Px0A">
        <outgoingTransitions xmi:id="_ABlXgNjTEeiU347bG7Px0A" specification="[stockOk == 1]" target="_cZbToNjPEeiU347bG7Px0A"/>
        <outgoingTransitions xmi:id="_BF4LoN3tEei9m8wSnGJ4xA" specification="[stockOk==0]" target="_PojP4NjUEeiU347bG7Px0A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_cZbToNjPEeiU347bG7Px0A" specification="entry /&#xA;credito = credito-6;&#xA;cantA = cantA-(3-selected);&#xA;cantB = cantB-(selected-2)" name="entregaGaseosa" incomingTransitions="_ABlXgNjTEeiU347bG7Px0A">
        <outgoingTransitions xmi:id="_Fxa9QNjVEeiU347bG7Px0A" specification="[credito >=0]" target="_PojP4NjUEeiU347bG7Px0A"/>
        <regions xmi:id="_cZb6stjPEeiU347bG7Px0A" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_qRUTsNjTEeiU347bG7Px0A" specification="entry/ ledOn(led)" name="ledOn" incomingTransitions="_wSUM0NjTEeiU347bG7Px0A">
            <outgoingTransitions xmi:id="_DlJvcNjUEeiU347bG7Px0A" specification="after 1s" target="_ApRNINjUEeiU347bG7Px0A"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_spK74NjTEeiU347bG7Px0A" name="">
            <outgoingTransitions xmi:id="_wSUM0NjTEeiU347bG7Px0A" specification="" target="_qRUTsNjTEeiU347bG7Px0A"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_ApRNINjUEeiU347bG7Px0A" specification="entry /&#xA;ledOff(led)" name="ledOff" incomingTransitions="_DlJvcNjUEeiU347bG7Px0A"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_PojP4NjUEeiU347bG7Px0A" specification="entry / &#xA;stockOk = 0;&#xA;aprobado = 0;&#xA;selected = 0" name="return" incomingTransitions="_Fxa9QNjVEeiU347bG7Px0A _j-1XENjVEeiU347bG7Px0A _3P-QkNjVEeiU347bG7Px0A _BF4LoN3tEei9m8wSnGJ4xA">
        <outgoingTransitions xmi:id="_ex-QoNjVEeiU347bG7Px0A" specification="[credito == 0]" target="_aDxAoNjLEeiU347bG7Px0A"/>
        <regions xmi:id="_Poj28tjUEeiU347bG7Px0A" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_ghBo4NjUEeiU347bG7Px0A" specification="entry/ledOn(1)&#xA;entry/ credito = credito-2" name="encendido" incomingTransitions="_ghKL0NjUEeiU347bG7Px0A _57LdINjWEeiU347bG7Px0A">
            <outgoingTransitions xmi:id="_ghDeItjUEeiU347bG7Px0A" specification="after 500ms " target="_ghI9oNjUEeiU347bG7Px0A"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_ghI9oNjUEeiU347bG7Px0A" specification="entry/ledOff(1)" name="apagado" incomingTransitions="_ghDeItjUEeiU347bG7Px0A">
            <outgoingTransitions xmi:id="_ghKL0NjUEeiU347bG7Px0A" specification="after 500 ms [credito>0]" target="_ghBo4NjUEeiU347bG7Px0A"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_4x7WENjWEeiU347bG7Px0A" name="">
            <outgoingTransitions xmi:id="_4x7WEdjWEeiU347bG7Px0A" specification=""/>
            <outgoingTransitions xmi:id="_57LdINjWEeiU347bG7Px0A" specification="[credito>0]" target="_ghBo4NjUEeiU347bG7Px0A"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_N3B5AN3kEei9m8wSnGJ4xA" specification="entry / &#xA;selected = getKeyPressed()" name="Decode" incomingTransitions="_ZEG1cN3kEei9m8wSnGJ4xA">
        <outgoingTransitions xmi:id="_eT2QwN3kEei9m8wSnGJ4xA" specification="[(selected == 3) || (selected == 2)]" target="_oB42cNjNEeiU347bG7Px0A"/>
        <outgoingTransitions xmi:id="_7PjgMN3mEei9m8wSnGJ4xA" specification="[selected == 1]" target="_P8m4gNjNEeiU347bG7Px0A"/>
        <outgoingTransitions xmi:id="_j-1XENjVEeiU347bG7Px0A" specification="[selected == 4]" target="_PojP4NjUEeiU347bG7Px0A"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_mvaFMMEDEeigPdaaL1Jx_g" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_mvQUMMEDEeigPdaaL1Jx_g" measurementUnit="Pixel">
    <children xmi:id="_mvchcMEDEeigPdaaL1Jx_g" type="Region" element="_mvaFMsEDEeigPdaaL1Jx_g">
      <children xsi:type="notation:DecorationNode" xmi:id="_mvfkwMEDEeigPdaaL1Jx_g" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mvfkwcEDEeigPdaaL1Jx_g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mvfkwsEDEeigPdaaL1Jx_g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_mvfkw8EDEeigPdaaL1Jx_g" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_mvgy4cEDEeigPdaaL1Jx_g" type="Entry" element="_mvgy4MEDEeigPdaaL1Jx_g">
          <children xmi:id="_mvhZ8MEDEeigPdaaL1Jx_g" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_mvhZ88EDEeigPdaaL1Jx_g" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_mvhZ9MEDEeigPdaaL1Jx_g"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_mvhZ9cEDEeigPdaaL1Jx_g"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_mvhZ8cEDEeigPdaaL1Jx_g" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mvhZ8sEDEeigPdaaL1Jx_g"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_mvgy4sEDEeigPdaaL1Jx_g" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_mvgy48EDEeigPdaaL1Jx_g" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mviBAMEDEeigPdaaL1Jx_g" x="79" width="15" height="15"/>
        </children>
        <children xmi:id="_yhc9MMGCEeiyLuv17iwXbQ" type="State" element="_yhZS0MGCEeiyLuv17iwXbQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_yhgAgMGCEeiyLuv17iwXbQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yhgAgcGCEeiyLuv17iwXbQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_yhgAgsGCEeiyLuv17iwXbQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yhgnkMGCEeiyLuv17iwXbQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_yhgnkcGCEeiyLuv17iwXbQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yhgnksGCEeiyLuv17iwXbQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yhhOoMGCEeiyLuv17iwXbQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yhc9McGCEeiyLuv17iwXbQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_yhc9MsGCEeiyLuv17iwXbQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yhhOocGCEeiyLuv17iwXbQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yhc9M8GCEeiyLuv17iwXbQ" x="278" y="-92" width="216" height="113"/>
        </children>
        <children xmi:id="_aD3HQNjLEeiU347bG7Px0A" type="State" element="_aDxAoNjLEeiU347bG7Px0A">
          <children xsi:type="notation:DecorationNode" xmi:id="_aD6xoNjLEeiU347bG7Px0A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_aD6xodjLEeiU347bG7Px0A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_aD6xotjLEeiU347bG7Px0A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_aD7_wNjLEeiU347bG7Px0A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_aD8m0NjLEeiU347bG7Px0A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aD8m0djLEeiU347bG7Px0A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_aD908NjLEeiU347bG7Px0A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_aD3HQdjLEeiU347bG7Px0A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_aD3HQtjLEeiU347bG7Px0A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aD908djLEeiU347bG7Px0A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aD3HQ9jLEeiU347bG7Px0A" x="290" y="61" width="192" height="153"/>
        </children>
        <children xmi:id="_P8oGoNjNEeiU347bG7Px0A" type="State" element="_P8m4gNjNEeiU347bG7Px0A">
          <children xsi:type="notation:DecorationNode" xmi:id="_P8otsNjNEeiU347bG7Px0A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_P8otsdjNEeiU347bG7Px0A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_P8otstjNEeiU347bG7Px0A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_P8ots9jNEeiU347bG7Px0A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_P8pUwNjNEeiU347bG7Px0A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_P8pUwdjNEeiU347bG7Px0A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_P8p70NjNEeiU347bG7Px0A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_P8oGodjNEeiU347bG7Px0A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_P8oGotjNEeiU347bG7Px0A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_P8p70djNEeiU347bG7Px0A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_P8oGo9jNEeiU347bG7Px0A" x="-80" y="286" width="126" height="62"/>
        </children>
        <children xmi:id="_oB6EkNjNEeiU347bG7Px0A" type="State" element="_oB42cNjNEeiU347bG7Px0A">
          <children xsi:type="notation:DecorationNode" xmi:id="_oB6roNjNEeiU347bG7Px0A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_oB6rodjNEeiU347bG7Px0A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_oB6rotjNEeiU347bG7Px0A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_oB6ro9jNEeiU347bG7Px0A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_oB6rpNjNEeiU347bG7Px0A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oB6rpdjNEeiU347bG7Px0A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_oB6rptjNEeiU347bG7Px0A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_oB6EkdjNEeiU347bG7Px0A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_oB6EktjNEeiU347bG7Px0A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_oB6rp9jNEeiU347bG7Px0A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oB6Ek9jNEeiU347bG7Px0A" x="165" y="426" width="142" height="92"/>
        </children>
        <children xmi:id="_ZzhBUNjPEeiU347bG7Px0A" type="State" element="_Zza6sNjPEeiU347bG7Px0A">
          <children xsi:type="notation:DecorationNode" xmi:id="_ZzhoYNjPEeiU347bG7Px0A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ZzhoYdjPEeiU347bG7Px0A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ZzhoYtjPEeiU347bG7Px0A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ZzhoY9jPEeiU347bG7Px0A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ZzhoZNjPEeiU347bG7Px0A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZzhoZdjPEeiU347bG7Px0A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ZziPcNjPEeiU347bG7Px0A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ZzhBUdjPEeiU347bG7Px0A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ZzhBUtjPEeiU347bG7Px0A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ZziPcdjPEeiU347bG7Px0A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZzhBU9jPEeiU347bG7Px0A" x="-195" y="556" width="336" height="76"/>
        </children>
        <children xmi:id="_cZchwNjPEeiU347bG7Px0A" type="State" element="_cZbToNjPEeiU347bG7Px0A">
          <children xsi:type="notation:DecorationNode" xmi:id="_cZdI0NjPEeiU347bG7Px0A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_cZdI0djPEeiU347bG7Px0A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_cZdI0tjPEeiU347bG7Px0A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_cZdI09jPEeiU347bG7Px0A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_cZdI1NjPEeiU347bG7Px0A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cZdI1djPEeiU347bG7Px0A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_cZdI1tjPEeiU347bG7Px0A" type="StateFigureCompartment">
            <children xmi:id="_cZvcsNjPEeiU347bG7Px0A" type="Region" element="_cZb6stjPEeiU347bG7Px0A">
              <children xsi:type="notation:DecorationNode" xmi:id="_cZvcs9jPEeiU347bG7Px0A" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_cZvctNjPEeiU347bG7Px0A"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_cZvctdjPEeiU347bG7Px0A"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_cZwDwNjPEeiU347bG7Px0A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_qRiWINjTEeiU347bG7Px0A" type="State" element="_qRUTsNjTEeiU347bG7Px0A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_qRiWJNjTEeiU347bG7Px0A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qRiWJdjTEeiU347bG7Px0A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_qRiWJtjTEeiU347bG7Px0A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qRiWJ9jTEeiU347bG7Px0A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_qRiWKNjTEeiU347bG7Px0A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qRiWKdjTEeiU347bG7Px0A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qRi9MNjTEeiU347bG7Px0A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qRiWIdjTEeiU347bG7Px0A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_qRiWItjTEeiU347bG7Px0A"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qRi9MdjTEeiU347bG7Px0A" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qRiWI9jTEeiU347bG7Px0A" x="55" y="-60"/>
                </children>
                <children xmi:id="_spNYINjTEeiU347bG7Px0A" type="Entry" element="_spK74NjTEeiU347bG7Px0A">
                  <children xmi:id="_spOmQNjTEeiU347bG7Px0A" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_spPNUNjTEeiU347bG7Px0A" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_spPNUdjTEeiU347bG7Px0A"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_spPNUtjTEeiU347bG7Px0A"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_spOmQdjTEeiU347bG7Px0A" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_spOmQtjTEeiU347bG7Px0A"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_spNYIdjTEeiU347bG7Px0A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_spNYItjTEeiU347bG7Px0A" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_spNYI9jTEeiU347bG7Px0A" x="20" y="-44"/>
                </children>
                <children xmi:id="_ApSbQNjUEeiU347bG7Px0A" type="State" element="_ApRNINjUEeiU347bG7Px0A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_ApSbRNjUEeiU347bG7Px0A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_ApSbRdjUEeiU347bG7Px0A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_ApTCUNjUEeiU347bG7Px0A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_ApTCUdjUEeiU347bG7Px0A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_ApTCUtjUEeiU347bG7Px0A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ApTCU9jUEeiU347bG7Px0A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_ApTCVNjUEeiU347bG7Px0A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_ApSbQdjUEeiU347bG7Px0A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_ApSbQtjUEeiU347bG7Px0A"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ApTpYNjUEeiU347bG7Px0A" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ApSbQ9jUEeiU347bG7Px0A" x="63" y="65"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cZwDwdjPEeiU347bG7Px0A"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_cZvcsdjPEeiU347bG7Px0A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cZvcstjPEeiU347bG7Px0A"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_cZchwdjPEeiU347bG7Px0A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_cZchwtjPEeiU347bG7Px0A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_cZdI19jPEeiU347bG7Px0A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cZchw9jPEeiU347bG7Px0A" x="-125" y="786" width="271" height="458"/>
        </children>
        <children xmi:id="_PokeANjUEeiU347bG7Px0A" type="State" element="_PojP4NjUEeiU347bG7Px0A">
          <children xsi:type="notation:DecorationNode" xmi:id="_PokeBNjUEeiU347bG7Px0A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_PokeBdjUEeiU347bG7Px0A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_PolFENjUEeiU347bG7Px0A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_PolFEdjUEeiU347bG7Px0A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_PolFEtjUEeiU347bG7Px0A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PolFE9jUEeiU347bG7Px0A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_PolFFNjUEeiU347bG7Px0A" type="StateFigureCompartment">
            <children xmi:id="_Pom6QNjUEeiU347bG7Px0A" type="Region" element="_Poj28tjUEeiU347bG7Px0A">
              <children xsi:type="notation:DecorationNode" xmi:id="_Pom6Q9jUEeiU347bG7Px0A" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_Pom6RNjUEeiU347bG7Px0A"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_Pom6RdjUEeiU347bG7Px0A"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_Pom6RtjUEeiU347bG7Px0A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_ghAawNjUEeiU347bG7Px0A" type="State" element="_ghBo4NjUEeiU347bG7Px0A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_ghAawdjUEeiU347bG7Px0A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_ghAawtjUEeiU347bG7Px0A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_ghAaw9jUEeiU347bG7Px0A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_ghAaxNjUEeiU347bG7Px0A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_ghAaxdjUEeiU347bG7Px0A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ghAaxtjUEeiU347bG7Px0A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_ghAax9jUEeiU347bG7Px0A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_ghAayNjUEeiU347bG7Px0A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_ghAaydjUEeiU347bG7Px0A"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ghAaytjUEeiU347bG7Px0A" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ghAay9jUEeiU347bG7Px0A" x="62" y="-121" width="148"/>
                </children>
                <children xmi:id="_ghBB0NjUEeiU347bG7Px0A" type="State" element="_ghI9oNjUEeiU347bG7Px0A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_ghBB0djUEeiU347bG7Px0A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_ghBB0tjUEeiU347bG7Px0A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_ghBB09jUEeiU347bG7Px0A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_ghBB1NjUEeiU347bG7Px0A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_ghBB1djUEeiU347bG7Px0A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ghBB1tjUEeiU347bG7Px0A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_ghBB19jUEeiU347bG7Px0A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_ghBB2NjUEeiU347bG7Px0A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_ghBB2djUEeiU347bG7Px0A"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ghBB2tjUEeiU347bG7Px0A" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ghBB29jUEeiU347bG7Px0A" x="62" y="9" width="149" height="65"/>
                </children>
                <children xmi:id="_4x6vAdjWEeiU347bG7Px0A" type="Entry" element="_4x7WENjWEeiU347bG7Px0A">
                  <children xmi:id="_4x6vAtjWEeiU347bG7Px0A" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_4x6vA9jWEeiU347bG7Px0A" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_4x6vBNjWEeiU347bG7Px0A"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_4x6vBdjWEeiU347bG7Px0A"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_4x6vBtjWEeiU347bG7Px0A" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4x6vB9jWEeiU347bG7Px0A"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_4x6vCNjWEeiU347bG7Px0A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_4x6vCdjWEeiU347bG7Px0A" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4x6vCtjWEeiU347bG7Px0A" x="10" y="-121"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Pom6R9jUEeiU347bG7Px0A"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Pom6QdjUEeiU347bG7Px0A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Pom6QtjUEeiU347bG7Px0A"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_PokeAdjUEeiU347bG7Px0A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_PokeAtjUEeiU347bG7Px0A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_PolFFdjUEeiU347bG7Px0A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PokeA9jUEeiU347bG7Px0A" x="540" y="721" width="341" height="373"/>
        </children>
        <children xmi:id="_N3BR8N3kEei9m8wSnGJ4xA" type="State" element="_N3B5AN3kEei9m8wSnGJ4xA">
          <children xsi:type="notation:DecorationNode" xmi:id="_N3BR8d3kEei9m8wSnGJ4xA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_N3BR8t3kEei9m8wSnGJ4xA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_N3BR893kEei9m8wSnGJ4xA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_N3BR9N3kEei9m8wSnGJ4xA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_N3BR9d3kEei9m8wSnGJ4xA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N3BR9t3kEei9m8wSnGJ4xA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_N3BR993kEei9m8wSnGJ4xA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_N3BR-N3kEei9m8wSnGJ4xA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_N3BR-d3kEei9m8wSnGJ4xA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_N3BR-t3kEei9m8wSnGJ4xA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N3BR-93kEei9m8wSnGJ4xA" x="158" y="241" width="192" height="153"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mvfkxMEDEeigPdaaL1Jx_g"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_mvchccEDEeigPdaaL1Jx_g" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mvgL0MEDEeigPdaaL1Jx_g" x="204" y="8" width="1508" height="1400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_mvngkMEDEeigPdaaL1Jx_g" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_mvoHoMEDEeigPdaaL1Jx_g" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mvoHocEDEeigPdaaL1Jx_g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mvoHosEDEeigPdaaL1Jx_g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_mvoHo8EDEeigPdaaL1Jx_g" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mvoHpMEDEeigPdaaL1Jx_g"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mvousMEDEeigPdaaL1Jx_g" x="10" y="10" width="201" height="388"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_mvaFMcEDEeigPdaaL1Jx_g"/>
    <edges xmi:id="_h84iMMGDEeiyLuv17iwXbQ" type="Transition" element="_h83UEMGDEeiyLuv17iwXbQ" source="_mvgy4cEDEeigPdaaL1Jx_g" target="_yhc9MMGCEeiyLuv17iwXbQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_h85JQMGDEeiyLuv17iwXbQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_h85JQcGDEeiyLuv17iwXbQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_h85JQsGDEeiyLuv17iwXbQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_h84iMcGDEeiyLuv17iwXbQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_h84iM8GDEeiyLuv17iwXbQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_h84iMsGDEeiyLuv17iwXbQ" points="[-1, 7, 8, -43]$[-7, 38, 2, -12]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_h86XYMGDEeiyLuv17iwXbQ" id="(0.3169642857142857,0.05220883534136546)"/>
    </edges>
    <edges xmi:id="_qYdXINjLEeiU347bG7Px0A" type="Transition" element="_qYZswNjLEeiU347bG7Px0A" source="_yhc9MMGCEeiyLuv17iwXbQ" target="_aD3HQNjLEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_qYelQNjLEeiU347bG7Px0A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qYelQdjLEeiU347bG7Px0A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qYelQtjLEeiU347bG7Px0A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qYdXIdjLEeiU347bG7Px0A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qYd-MNjLEeiU347bG7Px0A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qYdXItjLEeiU347bG7Px0A" points="[2, 0, -19, -67]$[2, 45, -19, -22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qYgacNjLEeiU347bG7Px0A" id="(0.5648148148148148,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qYgacdjLEeiU347bG7Px0A" id="(0.6862745098039216,0.1518987341772152)"/>
    </edges>
    <edges xmi:id="_cDcHcNjNEeiU347bG7Px0A" type="Transition" element="_cDaSQNjNEeiU347bG7Px0A" source="_P8oGoNjNEeiU347bG7Px0A" target="_aD3HQNjLEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_cDcHdNjNEeiU347bG7Px0A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cDcHddjNEeiU347bG7Px0A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cDcHdtjNEeiU347bG7Px0A" x="-49" y="1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cDcHcdjNEeiU347bG7Px0A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cDcHc9jNEeiU347bG7Px0A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cDcHctjNEeiU347bG7Px0A" points="[38, -20, -70, 38]$[38, -126, -70, -68]$[108, -126, 0, -68]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cDejsNjNEeiU347bG7Px0A" id="(0.031746031746031744,0.3548387096774194)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cDejsdjNEeiU347bG7Px0A" id="(0.0,1.0)"/>
    </edges>
    <edges xmi:id="_kKzv0NjQEeiU347bG7Px0A" type="Transition" element="_kKx6oNjQEeiU347bG7Px0A" source="_oB6EkNjNEeiU347bG7Px0A" target="_ZzhBUNjPEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_kK0W4djQEeiU347bG7Px0A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kK0W4tjQEeiU347bG7Px0A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kK0W49jQEeiU347bG7Px0A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kKzv0djQEeiU347bG7Px0A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kK0W4NjQEeiU347bG7Px0A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kKzv0tjQEeiU347bG7Px0A" points="[-99, 16, 321, -49]$[-99, 37, 321, -28]$[-332, 37, 88, -28]$[-332, 59, 88, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kK2MENjQEeiU347bG7Px0A" id="(1.0,0.8248175182481752)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kK2MEdjQEeiU347bG7Px0A" id="(0.23333333333333334,0.0935672514619883)"/>
    </edges>
    <edges xmi:id="_ABmloNjTEeiU347bG7Px0A" type="Transition" element="_ABlXgNjTEeiU347bG7Px0A" source="_ZzhBUNjPEeiU347bG7Px0A" target="_cZchwNjPEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_ABmlpNjTEeiU347bG7Px0A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ABmlpdjTEeiU347bG7Px0A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ABmlptjTEeiU347bG7Px0A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ABmlodjTEeiU347bG7Px0A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ABmlo9jTEeiU347bG7Px0A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ABmlotjTEeiU347bG7Px0A" points="[181, 34, -130, -202]$[181, 138, -130, -98]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ABoa0NjTEeiU347bG7Px0A" id="(0.05689277899343545,0.732824427480916)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ABoa0djTEeiU347bG7Px0A" id="(1.0,0.21634615384615385)"/>
    </edges>
    <edges xmi:id="_wSWpENjTEeiU347bG7Px0A" type="Transition" element="_wSUM0NjTEeiU347bG7Px0A" source="_spNYINjTEeiU347bG7Px0A" target="_qRiWINjTEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_wSWpFNjTEeiU347bG7Px0A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wSWpFdjTEeiU347bG7Px0A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wSWpFtjTEeiU347bG7Px0A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wSWpEdjTEeiU347bG7Px0A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wSWpE9jTEeiU347bG7Px0A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wSWpEtjTEeiU347bG7Px0A" points="[7, 0, -80, -8]$[86, -16, -1, -24]"/>
    </edges>
    <edges xmi:id="_DlK9kNjUEeiU347bG7Px0A" type="Transition" element="_DlJvcNjUEeiU347bG7Px0A" source="_qRiWINjTEeiU347bG7Px0A" target="_ApSbQNjUEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_DlLkoNjUEeiU347bG7Px0A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DlLkodjUEeiU347bG7Px0A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DlLkotjUEeiU347bG7Px0A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DlK9kdjUEeiU347bG7Px0A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DlK9k9jUEeiU347bG7Px0A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DlK9ktjUEeiU347bG7Px0A" points="[-2, 48, -8, -105]$[-2, 125, -8, -28]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DlNZ0NjUEeiU347bG7Px0A" id="(0.3515625,0.0)"/>
    </edges>
    <edges xmi:id="_ghPrUNjUEeiU347bG7Px0A" type="Transition" element="_ghDeItjUEeiU347bG7Px0A" source="_ghAawNjUEeiU347bG7Px0A" target="_ghBB0NjUEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_ghPrUdjUEeiU347bG7Px0A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ghPrUtjUEeiU347bG7Px0A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ghPrU9jUEeiU347bG7Px0A" x="-18" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ghPrVNjUEeiU347bG7Px0A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ghPrVdjUEeiU347bG7Px0A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ghPrVtjUEeiU347bG7Px0A" points="[-5, 14, 8, -71]$[-5, 84, 8, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ghPrV9jUEeiU347bG7Px0A" id="(0.788135593220339,0.7735849056603774)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ghPrWNjUEeiU347bG7Px0A" id="(0.6942148760330579,0.03076923076923077)"/>
    </edges>
    <edges xmi:id="_ghQSYNjUEeiU347bG7Px0A" type="Transition" element="_ghKL0NjUEeiU347bG7Px0A" source="_ghBB0NjUEeiU347bG7Px0A" target="_ghAawNjUEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_ghQSYdjUEeiU347bG7Px0A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ghQSYtjUEeiU347bG7Px0A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ghQSY9jUEeiU347bG7Px0A" x="-22" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ghQSZNjUEeiU347bG7Px0A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ghQSZdjUEeiU347bG7Px0A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ghQSZtjUEeiU347bG7Px0A" points="[6, -1, 2, 76]$[6, -66, 2, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ghQSZ9jUEeiU347bG7Px0A" id="(0.14049586776859505,0.015384615384615385)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ghQSaNjUEeiU347bG7Px0A" id="(0.17796610169491525,0.8113207547169812)"/>
    </edges>
    <edges xmi:id="_FxbkUNjVEeiU347bG7Px0A" type="Transition" element="_Fxa9QNjVEeiU347bG7Px0A" source="_cZchwNjPEeiU347bG7Px0A" target="_PokeANjUEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_FxcLYdjVEeiU347bG7Px0A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FxcLYtjVEeiU347bG7Px0A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FxcLY9jVEeiU347bG7Px0A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FxbkUdjVEeiU347bG7Px0A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FxcLYNjVEeiU347bG7Px0A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FxbkUtjVEeiU347bG7Px0A" points="[5, -134, -399, 175]$[404, -134, 0, 175]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FxdZgNjVEeiU347bG7Px0A" id="(0.981549815498155,0.6615720524017468)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FxdZgdjVEeiU347bG7Px0A" id="(0.0,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_eyAF0NjVEeiU347bG7Px0A" type="Transition" element="_ex-QoNjVEeiU347bG7Px0A" source="_PokeANjUEeiU347bG7Px0A" target="_aD3HQNjLEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_eyAF1NjVEeiU347bG7Px0A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eyAF1djVEeiU347bG7Px0A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eyAF1tjVEeiU347bG7Px0A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eyAF0djVEeiU347bG7Px0A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eyAF09jVEeiU347bG7Px0A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eyAF0tjVEeiU347bG7Px0A" points="[-73, -55, 779, 592]$[-73, -588, 779, 59]$[-822, -588, 30, 59]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eyB7ANjVEeiU347bG7Px0A" id="(1.0,0.1509433962264151)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eyB7AdjVEeiU347bG7Px0A" id="(0.8431372549019608,0.08860759493670886)"/>
    </edges>
    <edges xmi:id="_j-3zUNjVEeiU347bG7Px0A" type="Transition" element="_j-1XENjVEeiU347bG7Px0A" source="_N3BR8N3kEei9m8wSnGJ4xA" target="_PokeANjUEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_j-3zVNjVEeiU347bG7Px0A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_j-3zVdjVEeiU347bG7Px0A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_j-3zVtjVEeiU347bG7Px0A" x="-37" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_j-3zUdjVEeiU347bG7Px0A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_j-3zU9jVEeiU347bG7Px0A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_j-3zUtjVEeiU347bG7Px0A" points="[11, 16, -195, -423]$[350, 16, 144, -423]$[350, 439, 144, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_j-5ogNjVEeiU347bG7Px0A" id="(0.9427083333333334,0.28104575163398693)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_j-5ogdjVEeiU347bG7Px0A" id="(0.0,0.0)"/>
    </edges>
    <edges xmi:id="_3P_esNjVEeiU347bG7Px0A" type="Transition" element="_3P-QkNjVEeiU347bG7Px0A" source="_oB6EkNjNEeiU347bG7Px0A" target="_PokeANjUEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_3P_etNjVEeiU347bG7Px0A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3P_etdjVEeiU347bG7Px0A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3P_ettjVEeiU347bG7Px0A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3P_esdjVEeiU347bG7Px0A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3P_es9jVEeiU347bG7Px0A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3P_estjVEeiU347bG7Px0A" points="[0, 0, -254, -258]$[255, 245, 1, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3QBT4NjVEeiU347bG7Px0A" id="(1.0,0.6739130434782609)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3QBT4djVEeiU347bG7Px0A" id="(0.10619469026548672,0.04582210242587601)"/>
    </edges>
    <edges xmi:id="_57N5YNjWEeiU347bG7Px0A" type="Transition" element="_57LdINjWEeiU347bG7Px0A" source="_4x6vAdjWEeiU347bG7Px0A" target="_ghAawNjUEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_57PHgNjWEeiU347bG7Px0A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_57PHgdjWEeiU347bG7Px0A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_57PHgtjWEeiU347bG7Px0A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_57N5YdjWEeiU347bG7Px0A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_57OgcdjWEeiU347bG7Px0A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_57OgcNjWEeiU347bG7Px0A" points="[6, 0, -22, -1]$[29, -14, 1, -15]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_57SK0NjWEeiU347bG7Px0A" id="(0.013513513513513514,0.2857142857142857)"/>
    </edges>
    <edges xmi:id="_ZEIqoN3kEei9m8wSnGJ4xA" type="Transition" element="_ZEG1cN3kEei9m8wSnGJ4xA" source="_aD3HQNjLEeiU347bG7Px0A" target="_N3BR8N3kEei9m8wSnGJ4xA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZEJ4wN3kEei9m8wSnGJ4xA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZEJ4wd3kEei9m8wSnGJ4xA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZEJ4wt3kEei9m8wSnGJ4xA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZEIqod3kEei9m8wSnGJ4xA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZEJRsN3kEei9m8wSnGJ4xA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZEIqot3kEei9m8wSnGJ4xA" points="[2, 11, 25, -17]$[-23, 28, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZELt8N3kEei9m8wSnGJ4xA" id="(0.20833333333333334,0.9019607843137255)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZELt8d3kEei9m8wSnGJ4xA" id="(1.0,0.0)"/>
    </edges>
    <edges xmi:id="_eT3e4N3kEei9m8wSnGJ4xA" type="Transition" element="_eT2QwN3kEei9m8wSnGJ4xA" source="_N3BR8N3kEei9m8wSnGJ4xA" target="_oB6EkNjNEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_eT3e5N3kEei9m8wSnGJ4xA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eT3e5d3kEei9m8wSnGJ4xA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eT3e5t3kEei9m8wSnGJ4xA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eT3e4d3kEei9m8wSnGJ4xA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eT3e493kEei9m8wSnGJ4xA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eT3e4t3kEei9m8wSnGJ4xA" points="[0, 0, -167, -56]$[168, 75, 1, 19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eT5UEN3kEei9m8wSnGJ4xA" id="(1.0,0.6013071895424836)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eT5UEd3kEei9m8wSnGJ4xA" id="(0.09859154929577464,0.7065217391304348)"/>
    </edges>
    <edges xmi:id="_7PlVYN3mEei9m8wSnGJ4xA" type="Transition" element="_7PjgMN3mEei9m8wSnGJ4xA" source="_N3BR8N3kEei9m8wSnGJ4xA" target="_P8oGoNjNEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_7PlVZN3mEei9m8wSnGJ4xA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7PlVZd3mEei9m8wSnGJ4xA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7PlVZt3mEei9m8wSnGJ4xA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7PlVYd3mEei9m8wSnGJ4xA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7PlVY93mEei9m8wSnGJ4xA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7PlVYt3mEei9m8wSnGJ4xA" points="[1, -32, 93, -34]$[-92, 2, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7PnxoN3mEei9m8wSnGJ4xA" id="(0.036458333333333336,0.2875816993464052)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7Pnxod3mEei9m8wSnGJ4xA" id="(1.0,0.0)"/>
    </edges>
    <edges xmi:id="_BF4ysN3tEei9m8wSnGJ4xA" type="Transition" element="_BF4LoN3tEei9m8wSnGJ4xA" source="_ZzhBUNjPEeiU347bG7Px0A" target="_PokeANjUEeiU347bG7Px0A">
      <children xsi:type="notation:DecorationNode" xmi:id="_BF4ytN3tEei9m8wSnGJ4xA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BF5ZwN3tEei9m8wSnGJ4xA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BF5Zwd3tEei9m8wSnGJ4xA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BF4ysd3tEei9m8wSnGJ4xA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BF4ys93tEei9m8wSnGJ4xA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BF4yst3tEei9m8wSnGJ4xA" points="[0, 0, -512, -192]$[513, 144, 1, -48]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BF6A0N3tEei9m8wSnGJ4xA" id="(1.0,0.6973684210526315)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BF6A0d3tEei9m8wSnGJ4xA" id="(0.017595307917888565,0.10455764075067024)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
